process {
    withLabel: 'GAAS' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/label_gaas.yml" }
        container = 'quay.io/biocontainers/gaas:1.0.1--pl526r35_0'
    }
    withName: 'minimap2' {
        conda = { singularity.enabled || docker.enabled ? '' : "$baseDir/conda/process_minimap2.yml" }
        container = 'quay.io/biocontainers/minimap2:2.17--h8b12597_1'
    }
}
